header {
    background-image: url('pic.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}
body{
    background-color: cadetblue;
}