<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    </head>

<body>

    <div class="image">
    <img src="{{ url_for('static', filename='assets/anime2.jpg') }}" />
     </div>

    <h1>About us page</h1>
    <h3>Hi there!, Welcome. I'm Gina and I'll help you to plan your day.It is always advisable to start your day with a
        plan on how to spend your day. I'll also help you manage your time wisely</h3>
    <h3>I hope you enjoy this app... Lets gooo!!!</h3>
    <a href="/"><h2><b>Back to homepage</h2></b></a>
    <a href="/routine"><h2><b>Next page</h2></b></a>

</body>

</html>