<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='rou.css') }}">
    </head>
    <body>
    
    
    <header>
    <div>
        <img src="{{ url_for('static', filename='assets/pic.jpg') }}" />
        <h1>Welcome {{to}}</h1>
    </div>
    </header>
    <h1>Morning Routines</h1>
    <nav>
        <ul>
            <li>Make your bed</li>
            <li>Brush your teeth</li>
            <li>Exercise/Meditation</li>
            <li>Take your Bath</li>
        </ul>
    </nav>    
        <h1>Noon Routines</h1>
    <nav>    
       <ul>
            <li>90mins studing</li>
            <li>30mins break</li>
            <li>60mins studing</li>
            <li>30mins launch</li>
            <li>Give yourself a treat</li>
        </ul>
    </nav>    
        <h1>Evening Routines</h1>
    <nav>
        <ul>
            <li>supper</li>
            <li>120mins prep</li>
            <li>Read a novel maybe</li>
            <li>Take your Bath</li>
        </ul>
    </nav>
    <footer>
        <h3>Yayy you did it!!!...</h3>
        <a href="/"><h2><b>Back to homepage</h2></b></a> <a href="/modify"><h2><b>Next page</h2></b></a>
    </footer>    
    </body>
</html>