<html>
    <body>
        <h1>Welcome {{to}}</h1>
        </h1>
        <h1>Morning Routines</h1>
        <ul>
            <li>Make your bed</li>
            <li>Brush your teeth</li>
            <li>Exercise/Meditation</li>
            <li>Take your Bath</li>
        </ul>
        <h1>Noon Routines</h1>
        <ul>
            <li>90mins studing</li>
            <li>30mins break</li>
            <li>60mins studing</li>
            <li>30mins launch</li>
            <li>Give yourself a treat</li>
        </ul>
        <h1>Evening Routines</h1>

        <ul>
            <li>supper</li>
            <li>120mins prep</li>
            <li>Read a novel maybe</li>
            <li>Take your Bath</li>
        </ul>
        <h3>Yayy you did it!!!...</h3>
        <a href="/"><b><h2>Back to homepage</h2></b></a>
    </body>
</html>